<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nexus.skhd</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/skhd</string>
        <string>--config</string>
        <string>/Users/giovannini/Documents/GitHub/NEXUS-Workspace-Manager/configs/skhd/skhdrc</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/tmp/skhd.out</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/skhd.err</string>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>5</integer>
    
    <key>WorkingDirectory</key>
    <string>/Users/giovannini/Documents/GitHub/NEXUS-Workspace-Manager</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NEXUS_HOME</key>
        <string>/Users/giovannini/Documents/GitHub/NEXUS-Workspace-Manager</string>
    </dict>
</dict>
</plist>
